@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$body-font-family: 'Rubik';

$custom-pink: #ff7582;
$custom-green: #00a56a;

/* Code for Firefox */
::-moz-selection {
  color: #ffffff;
  background-color: $custom-pink;
}

::selection {
  color: #ffffff;
  background-color: $custom-pink;
}

.a-custom-button {
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.a-custom-button::before {
  width: 0;
  height: 100%;
  content: ' ';
  position: absolute;
  bottom: 0;
  transition: width 0.2s ease-out;
}

.a-custom-button:hover::before {
  width: 100%;
  border-bottom: 2px $custom-pink solid;
}

.a-custom-button::after {
  width: 100%;
  height: 4px;
  content: ' ';
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  transition: width 0.2s ease-out;
}

.a-custom-button:hover::after {
  width: 0;
}
